<!DOCTYPE html>
<html>

<head>
    <title>
        <%= pageName %>
    </title>

    <%- styles %>
</head>

<body>
    <%- topNav %>

        <div class="title-container">
            <%= pageName %>

        </div>

        <div class="container">
            <%- dynamicContent %>
        </div>


</body>



</html>